@import "base/base";

* {
    box-sizing:border-box;
}

body {
    font-family: $font-content !important;
    font-size:15px !important;
    background: url(../images/back-footer.jpg)no-repeat bottom right  $color-bg !important;
    line-height: 26px !important;
    min-height: 100vh;

    &.no-scroll {
        overflow-x: hidden;
        overflow-y: hidden; 
    }
}


figure.avatar {
    width: 76px;
    height: 76px;
    border-radius: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit : cover;
        border: 0;
    }
}

ul.link-social {
    padding: 0;
    list-style: 0;
    margin: 0;
    padding-top: 10px;
    li {
        display: inline-block;
        a {
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 100%;
            margin-right: 10px;
            line-height: 30px;
            overflow: hidden;
            text-align: center;
            color: #fff;
            background: $color-yellow;
            transition: all 0.3s ease-out;
            &:hover {
                transform:translateY(-3px);
            }
        }
    }
}

@import "components/navigation";
@import "components/header"; 
@import "components/bantuan";
@import "components/testimonial";
@import "components/contact";


@import "pages/faq";

footer {
    .container {
        border-top: 1px dashed rgba(67, 100, 142, 0.28);
        div.footer {
            padding: 20px 0px;
        }
    }

    i {
        color: #d14109;
        padding: 0px 5px;
    }

    @include respond-to(handhelds) {
        text-align: center;
        font-size: 11px;
        font-weight: 700;
        span {
            display: block;
        }
    }

}

.header-page {
    width: 100%;
    padding: 40px 0px;
    background: $color-primary;
    margin-bottom: 30px;
    h1 {
        margin:0;
        padding: 0;
        text-align: left;
        color: #fff;
        float: left;
    }

    .breadcrumb-page {
        float: right;
        list-style: none;
        padding-top: 13px;
        padding: 0;
        margin: 10px 0px;
        li {
            display: inline-block;
            position: relative;
            font-size: 13px;
            color: #ffffff;
            span, a {
                display: inline-block;
                font-weight: 700;
            }

            a {
                color: $color-yellow;
            }

            &:last-child:after {
                display: none;
            }

            &:after {
                content: '/';
                padding: 0px 5px 0px 8px;
                opacity: 0.66;
            }
        }
    }
}