//  color 

$color-primary      : #1d8ce0;
$color-secondary    : #ff601a;
$color-dark         : #131313;
$color-thin         : #43648e;
$color-bg           : #edf7f7;
$color-orange       : #e9ab02 ;
$color-yellow       : #fdc23e ;
$color-blue         : #1a85df ;
$color-red          : #ec7358 ;
$color-gray         : #999999 ;

$font-content           : 'Comfortaa', sans-serif;
$font-heading           : 'Pacifico', cursive;

$font-size-big          :2.250em;   //--- 36px;
$font-size-heading      :1.500em;   //--- 24px;
$font-size-medium       :1.125em;   //--- 18px;
$font-size-content      :14px;
$font-size-small        :0.688em;   //--- 11px;


// responsive

$break-small: 480px;
$break-large: 1024px;

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
    @else if $media == view-mobile {
        @media only screen and (max-width: 800px) { @content; }
    }

    @else if $media == tablet {
        @media only screen and (max-width: 640px) { @content; }
    }

}


a {
    transition :all 0.3s;
}

.content-page {
    min-height: 100vh;
    padding: 100px 0px;
    @include respond-to(handhelds) {
        padding: 40px 0px;
    }

     @include respond-to(medium-screens) {
         padding: 40px 0px;   
     }
}

h1.heading {
    color: $color-primary;
    font-family: $font-heading;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.16);
    @include respond-to(handhelds) {
        font-size: 28px;
        line-height: 40px;
    }
}



h2.sub-heading {
    color: $color-dark;
    font-family: $font-content;
    line-height: 24px;
    font-weight: 700;
     font-size: 18px;
    @include respond-to(handhelds) {
        font-size: 21px;
        line-height: 30px;
    }
}

.btn-blue {
    background: $color-primary;
    color: #ffffff;
}


.btn-yellow {
    background: $color-yellow;
    color: #ffffff;
}

