.page-faq {
    text-align: center;

    .box-answer-question {
        text-align: left;

        ul {
            margin-top: 30px;
            padding: 0px;
            list-style: none;
            li {
                padding: 25px 0px;
            }
        }
    }
}