.partnership-page {
    min-height: 100px;
    
    h2 {
        line-height: 36px;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }

    .form-partnership {
        border-radius: 8px;
        background: #ffffff;
        padding: 40px;
        width: 100%;
        min-height: 400px;
        box-shadow: 13px 23px 60px 0px rgba(0, 0, 0, 0.09);
        overflow: hidden;

        .divider {
            clear: both;
            width: 150%;
            height: 2px;
            background: $color-primary;
            margin: 20px -40px 45px -40px;
        }

        .group-form {
            margin-bottom: 25px;
            label {
                display: block;
                margin-bottom: 5px;
                color: $color-secondary;
            }
            input, textarea {
                width: 100%;
                border: 0px;
                border-bottom: 1px solid #ddd;
                padding: 3px 0px 10px 0px;
                font-weight: normal;
                transition:all 0.3s;
                &:focus, &:hover {
                    outline: none;
                }
            }

            textarea {
                border: 1px solid #ddd;
                resize :none;
                padding: 10px;
                border-radius: 4px;
                margin-top: 10px;
            }

            button {
                float: right;
                padding: 15px 40px;
                border: 0px;
                border-radius: 4px;
                text-transform: uppercase;
                color: #ffffff;
                background: #1A85DF;
                box-shadow: 1px 3px 16px 0 rgba(28, 118, 193, 0.58);
                transition:all 0.4s ease;
                &:hover {
                    background: #3B8ED4;
                }
            }
        }
    }

    @include respond-to(handhelds) {
        h2,  p {
            text-align: center;
        }

        form.form-partnership {
            margin-top: 20px;
            padding: 20px;

            button {
                width: 100%;
            }
        }
    }
}

.cd-form ul {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    li {
        position: relative;
        padding: 4px 0px;
    }
}

.cd-form input[type=radio],
.cd-form input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
  padding-left: 24px;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
  border-radius: 50%;
}
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  border-radius: .25em;
}
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
.cd-form input[type="radio"] + label::after {
  /* custom image for radio button */
  background-image: url("../img/cd-icon-radio.svg");
}
.cd-form input[type="checkbox"] + label::after {
  /* custom image for checkbox */
  background-image: url("../img/cd-icon-check.svg");
}
.cd-form input[type="radio"]:focus + label::before,
.cd-form input[type="checkbox"]:focus + label::before {
  /* add focus effect for radio and check buttons */
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
  display: block;
}
.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}