section#help {
    background: url(../images/back-graph.png)no-repeat center bottom;
    background-size: 100%;

    .box-help {
        margin-top: 70px;
        width: 100%;
        position: relative;
        background: url(../images/dot.png)repeat-y center center;

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: $color-yellow;
            position: absolute;
            left: 50%;
            margin-left: -6px;
            top: -10px;
        }

         &:before {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background: $color-primary;
            position: absolute;
            left: 50%;
            margin-left: -8px;
            bottom: -10px;
            box-shadow: 0px 0px 0px 3px $color-bg, 0px 0px 0px 4px $color-primary;
        }


        .box-help__list {
            padding: 80px 0px;

            &:nth-of-type(2) {
                background: rgba(188, 214, 220, 0.18);

                .middle {
                    float: right;
                }
                .box-help__list-content {
                   margin-top: 80px;
                }

                 .box-help__list-ilustration {
                    float: left;
                 }


            }



            .box-help__list-content {
                max-width: 300px;

                h2 {
                    position: relative;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    padding-top: 0px;
                    margin-top: 0px;
                    &:after {
                        content: '';
                        height: 2px;
                        width: 50px;
                        background: $color-yellow;
                        position: absolute;
                        left: 0px;
                        bottom: -8px;
                    }
                }
            }

            .box-help__list-ilustration {
                width: 100%;
                height: 300px;
                max-width: 300px;
                background: transparent;
                float: right;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    @include respond-to(handhelds) {
        text-align: center;
        
        .box-help {
            margin-top: 0px;
            background: transparent;
            &:after,
            &:before {
                display: none;
            }
            .box-help__list {
                padding: 30px 0px;
                .box-help__list-content {
                    h2:after {
                        left: 50%;
                        margin-left: -25px;
                    }
                }
            }
        }
    }
}