section#contact {
    width: 100%;
    min-height: 100vh;
    color: #ffffff;
    position: relative;
    background:transparent;
    &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 550px;
        background: rgba(46,62,104,1);
        background: -moz-linear-gradient(top, rgba(46,62,104,1) 0%, rgba(76,114,155,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,62,104,1)), color-stop(100%, rgba(76,114,155,1)));
        background: -webkit-linear-gradient(top, rgba(46,62,104,1) 0%, rgba(76,114,155,1) 100%);
        background: -o-linear-gradient(top, rgba(46,62,104,1) 0%, rgba(76,114,155,1) 100%);
        background: -ms-linear-gradient(top, rgba(46,62,104,1) 0%, rgba(76,114,155,1) 100%);
        background: linear-gradient(to bottom, rgba(46,62,104,1) 0%, rgba(76,114,155,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3e68', endColorstr='#4c729b', GradientType=0 );
    }

    .box-contact {
        text-align: left;

        .box-contact__content {
            h1 {
                text-align: left;
                color: #ffffff;
                padding-bottom: 20px;
            }

            ul {
                margin-top: 30px;
                list-style: none;
                padding: 0;
                li {
                    width: 50%;
                    float: left;
                    .icon {
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        border: 1px solid #ffffff;
                        text-align: center;
                        font-size: 24px;
                        line-height: 60px;
                        margin-bottom: 20px;
                    }

                    label {
                        display: block;
                        color: $color-yellow;
                    }
                }
            }
        }

        form.contact-form {
            padding: 30px 20px;
            background: #ffffff;
            border-radius: 8px;
            // min-height: 500px;
            overflow: hidden;
            margin-top: 100px;
            box-shadow: 0px 12px 32px 0px rgba(52, 72, 114, 0.3);
            h2 {
                color: $color-primary;
                margin-top: 0px;
            }

            .group-form {
                margin-bottom: 15px;
                input,
                textarea {
                    width: 100%;
                    color: $color-dark;
                    &:focus {
                        outline: none;
                    }
                }

                input {
                    border: 0px;
                    padding: 10px 0px;
                    border-bottom: 1px solid #d8e3f2;
                }

                textarea {
                    margin-top: 10px;
                    height: 150px;
                    padding: 20px;
                    border: 1px solid #d8e3f2;
                    background: lighten($color-thin,56%);
                    border-radius: 6px;
                    resize:none;
                }

                button {
                    float: right;
                    border: 0px;
                    background: $color-primary;
                    text-align: center;
                    font-weight: 700;
                    padding: 13px 30px;
                    box-shadow: 0px 2px 3px rgba(29, 140, 224, 0.58);
                    border-radius: 4px;
                    text-shadow:0px 1px 2px rgba(0,0,0, 0.2);
                    font-size: 18px;
                    transition: all 0.3s;
                    &:hover {
                        background: $color-yellow;
                        box-shadow: 0px 2px 3px rgb(253, 194, 62);
                    }
                }
            }
        }
    }

    .box-profile {
        color: $color-dark;
        padding-top: 60px;
        h1 {
            text-align: left;
        }
    }

    .link {
        padding-top: 75px;
        h2 {
            color: $color-primary;
        }
        ul {
            list-style: none;
            padding: 0px;
            margin-top: 20px;
            li {
                a {
                    display: block;
                    color: $color-yellow;
                    font-weight:700;
                    padding-bottom: 10px;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    @include respond-to(handhelds) {
        &:before {
            height: 1000px;
        }

        .box-contact { 
            text-align: center;

            .box-contact__content {
                h1 {
                    text-align: center;
                }
                ul {
                    li {
                        width: 100% !important;
                        margin: 15px 0px;

                        .icon {
                            margin: 0 auto;
                        }
                    }
                }
            }

             form.contact-form {
                margin-top: 25px;
             }

        }
    }
  
}