header.big-header {
    width: 100%;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    position: relative;
    background: $color-bg;
    &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 80%;
        background: rgba(29,139,224,1);
        background: -moz-linear-gradient(top, rgba(29,139,224,1) 0%, rgba(9,99,167,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(29,139,224,1)), color-stop(100%, rgba(9,99,167,1)));
        background: -webkit-linear-gradient(top, rgba(29,139,224,1) 0%, rgba(9,99,167,1) 100%);
        background: -o-linear-gradient(top, rgba(29,139,224,1) 0%, rgba(9,99,167,1) 100%);
        background: -ms-linear-gradient(top, rgba(29,139,224,1) 0%, rgba(9,99,167,1) 100%);
        background: linear-gradient(to bottom, rgba(29,139,224,1) 0%, rgba(9,99,167,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d8be0', endColorstr='#0963a7', GradientType=0 );
     }

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 80%;
        background: url(../images/back-header.png)no-repeat center bottom;
        opacity: 0.5;
    }


    div.big-header__caption {
        max-width: 900px;
        padding-top: 120px;
        margin: auto;
        position: relative;
        z-index: 2;

        h1 {
            color: #ffffff;
            text-shadow:2px 4px 0px darken($color-primary, 10%);
        }

        p {
            font-size: 14px;
            padding-top: 20px;
            color: #f2f7fa;
            padding-bottom: 20px;
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .box-slider {
            width: 708px;
            height: 426px;
            margin: 0 auto;
            background: url(../images/mock.png)no-repeat center center;

            .box-slider__inner {
                width: 539px;
                margin: 0 auto;
                padding-top: 21px;
                .content-slider {
                }
            }
        }
    }

    @include respond-to(handhelds) {
        height: auto;
        padding-bottom: 20px;
        &:after,
        &:before {
            height: 60vh;
        }
        padding-top: 60px;
        &:after {
            background-size: 400px;
        }
        .big-header__caption {
            padding-top: 0px !important;
            p {
                padding: 10px 0px;
                margin-bottom: 0px !important;
            }

            .box-slider {
                padding: 0px 20px;
                width: 100% !important;
                height: auto !important;
                background: transparent !important;

                 .box-slider__inner {
                    width: 100% !important;
                    height: auto;
                 }
             }
         }
    }
}