nav.navigation {
    text-align: center;
    background: transparent;
    width: 100%;
    top: 0px;
    position: fixed;
    transition:all 0.3s;
    &.fixed-navigation {
        background: $color-primary;
        ul.nav li {
            padding-top: 0px;
            a {
                color: #ffffff;
            }
        }
    }

    ul.nav {
        text-align: center;
        li {
            transition:all 0.3s;
            &.active {
                 a {
                      &:after, &:before {
                        width: 20%;
                    }
                 }
            }

            &.mobileOnly {
                display: none;
            }

            display: inline-block;
            a {
                display: block;
                color: #ffffff;
                padding: 20px 20px;
                position: relative;
                
                &:after, &:before {
                    transition:all 0.3s;
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background: #ffffff;
                    bottom: 12px;
                }

                &:after {
                    right: 50%;
                }

                &:before {
                    left: 50%;
                }

                &:hover, &:focus{
                    background: transparent;
                    &:after, &:before {
                        width: 20%;
                    }
                }

                &.partnership {
                    border-radius: 8px;
                    border: 1px solid #ffffff;
                    padding: 10px 15px;

                    &:after, &:before {display: none;}
                    &:hover {
                        background: #ffffff;
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .content-mobile {
        display: none; 
    }

    @include respond-to(view-mobile) {
        
        .content-mobile {
            display: block;
            padding: 10px 0px;
            position: relative;
            text-align: left;
            color: #ffffff;
            label a {
                transition:all 0.3s;
                color: #ffffff;
                display: inline-block;
                text-decoration: none;
                font-family: $font-heading;
                font-size: 18px;
            }

            .on-right {
                a { transform:translateX(100%);  opacity:0}
            }

            button.toggle-button {
                width: 20px;
                height: 15px;
                border: 0px;
                background: transparent;
                border-bottom: 2px solid #ffffff;
                border-top: 2px solid #ffffff;
                position: absolute;
                right: 0px;
                top: 13px;
                z-index: 99;
                &:after {
                    content: '';
                    transition: all 0.3s;
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    left: 0px;
                    top: 50%;
                    margin-top: -1px;
                    background: #ffffff;
                }

                &:before {
                    content: '';
                    position: absolute;
                    transition: all 0.3s;
                    height: 2px;
                    width: 100%;
                    left: 0px;
                    top: 50%;
                    margin-top: -1px;
                    background: #ffffff;
                }

                &.toggleOn {
                    border-color: transparent;

                    &:after {
                        transform: rotate(45deg);
                    }

                    &:before {
                        transform: rotate(-45deg);
                    }

                }
            
            &:visited, &:focus {
                outline: none;
            }

            }
        }

        ul.nav {
            width: 80%;
            max-width:300px;
            height: 100vh;
            position: fixed;
            text-align: left;
            right: 0px;
            top: 0px;
            transform:translateX(100%);
            background: $color-primary;
            transition:all 0.3s;
            li {
                padding-top: 0px;
                display: block;

                &.active {
                   a {
                        &:before {                            
                            width: 3px;
                        }
                   }
                 }

                &.mobileOnly {
                    display: block;
                    a {
                        padding: 12px;
                        background: darken($color-primary, 10%);
                    }
                }
                a {

                    border-bottom: 1px solid #2180c7;
                     &:after {
                        display: none;
                        opacity: 0;
                    }

                    &:before {
                        height: 100%;
                        right: 0px;
                        left: auto;
                        width: 0px;
                        bottom: 0px;
                      }

                     &:hover, &:focus, &:visited  {
                        background: darken($color-primary, 10%);
                        &:before {
                            width: 3px;
                          }
                    }

                    &.partnership {
                        margin: 25px auto;
                        width: 200px;
                        text-align: center;

                    }
                }
            }

            &.show-menu {
                transform:translateX(0%);
                box-shadow: 0px 0px 107px 0px rgba(0, 0, 0, 0.5);
            }
        }
    }
}