section#testimonial {
    background:#eaf3f5;
    min-height: 0px;
    width: 100%;
    padding: 50px 0px 150px 0px;
    color: #494e52;
    font-weight: bold;

    .box-testimonial {
        margin-top: 40px !important;
        padding-top: 0px;
        max-width: 580px;
        margin: 0 auto;
        background: url(../images/quotes.png)no-repeat top right;

        .owl-dots {
            position: absolute;
            bottom: -20px;
            width: 100%;
            padding-left: 100px;

            div.owl-dot{
                width: 10px;
                height: 10px;
                border: 1px solid $color-primary;
                background: transparent;
                display: inline-block;
                border-radius: 100%;
                margin-right: 7px;

                &.active {
                    background: $color-primary;
                }
            }
        }

        .box-testimonial__list {
            figure.avatar {
                float: left;
                box-shadow: 2px 2px 0px 0px rgba(29, 140, 224, 0.19);
                img {
                    border-radius: 100%;
                }
            }
            .box-testimonial__list-content {
                padding-left: 100px;
                label {
                    color: $color-primary;
                    padding-bottom: 5px;
                    font-size: 16px;
                }

                p {
                    line-height: 21px;
                }

                
            }
        }
    }

    @include respond-to(handhelds) {

        .box-testimonial {
            .box-testimonial__list {
                figure.avatar {
                    float: none;
                    margin: 0 auto;
                    padding-bottom: 10px;
                }
            }
             .box-testimonial__list-content {
                padding-left: 0px !important;
                text-align: center;
             }

             .owl-dots {
                padding-left: 0px;
                text-align: center;
             }
        }
    }
    
}